@import '_reset.scss';

body {
    background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)),
    url("../images/background.jpg");
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;

    

    h1 {
        font-family: "Roboto", sans-serif;
        font-size: 62px;
        font-weight: 400;
        color: white;
        line-height: 70px;
        width: 80%;
        margin-bottom: 50px;
    }
    

    a {
        color: white;
        background-color: #615CFD;
        padding: 10px 30px;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        font-family: "Roboto", sans-serif;
        

        &:hover {
            background-color: transparent;
            color: #615CFD;
            border: 1px solid #615CFD;
            transition: 0.5s ease;
        }
    }



}





