* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    margin: 0 auto;
    height: 100vh;
}

img {
   width: 100%;
   object-fit: cover;
   overflow: hidden;
   padding-top: 40px;
}