.red {
    background-color: rgb(245, 57, 57);
}

.blue {
    background-color: rgb(59, 59, 235);
}

.green {
    background-color: rgb(55, 194, 55);
}

.yellow {
    background-color: rgb(202, 202, 55);
}

.purple {
    background-color: rgb(173, 49, 173);
}

.orange {
    background-color: chocolate;
}