@import url(reset.css);

span {
    background-color: rgb(85, 85, 252);
    padding: 5px 10px;
    color: white;
    position: absolute;  
    height: fit-content;
    right: 2%;
    top: 2%;
    font-size: 13px;
    padding: 8px 16px;
}

p {
    color: gray;
}

h4 {
    font-weight: 500;
}

body {
    background: linear-gradient(to bottom, white 65%, rgb(206, 206, 206) )
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    position: relative;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
}

.photo {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.about {
    display: flex;
    justify-content: space-between;
    width: 100%;
   padding-top: 25px;
}

.context {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 25px;
}