* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./21534706_6379114.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
}

th,
td {
  padding: 15px;
  text-align: left;
  color: black;
}

th {
  background: gold;
  font-weight: bold;
  position: sticky;
  top: 0%;
}

tr {
  background: rgba(255, 255, 255, 0.432);
}

tr:nth-child(2n) {
  background: rgba(255, 255, 255, 0.842);
}

header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  width: 80%;
  text-align: center;
  padding: 10px;
  color: gold;
}

.container {
  max-height: 80vh;
  overflow-y: scroll;
  width: 80%;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 0 30px 15px 30px;
}

.container::-webkit-scrollbar {
  width: 0;
}

.positive {
  color: green;
  font-weight: 500;
}

.negative {
  color: red;
  font-weight: 500;
}
