* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

table {
    width: 100%;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1cccc;
    border-radius: 7px;
    outline: none;
}

label {
    display: block;
}

.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.pb10 {
    padding-bottom: 10px;
}


.container {
    display: flex;
    flex-direction: column;
    background: #f8a5c2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.name {
    display: flex;
    gap: 10px;
}

.address {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.region {
    flex-basis: calc(50% - 5px);
    
}

.choice {
    width: 20%;
}