* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}