*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}
