@import url(reset.css);
@import url(helper.css);

header {
  display: flex;
  justify-content: space-between;
  background-color: #008080;
  padding: 20px 10px;
}

main {
  margin-top: 30px;
  height: 100vh;
}

footer {
  background-color: #008080;
  color: white;
  padding: 15px 0;
}

h3 {
  color: #008080;
  font-weight: 600;
}

h5 {
  font-weight: 400;
}

img {
  border-radius: 7px;
}

a:hover {
  color: #008080;
  text-decoration: underline 1.5px;
  text-underline-offset: 5px;
}

.logo {
  width: 5%;
}

.cart {
  border-radius: 20px;
  background-color: black;
  padding: 0 25px;
  cursor: pointer;
}

.fa-solid {
  color: white;
}

.fa-copyright {
  font-size: 13px;
  text-align: center;
}

.count {
  color: black;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 17px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: 600;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px 25px;
  font-weight: 600;
  font-size: 17px;
  position: sticky;
  top: 0;
}

.cards-holder {
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  align-items: center;
  border: 2px solid #008080;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 0 0 10px black;
}

.fa-circle-chevron-up {
    color: #008080;
    font-size: 35px;
    position: fixed;
    top: 85%;
    right: 3%;
    z-index: 1;
    border-radius: 50%;
}

.fa-circle-chevron-up:hover {
    box-shadow: 0 0 10px #008080;
}